@keyframes travel {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes scroll {
    from {
        opacity: 0;
        scale: 80%;
    }
    to {
        scale: 100% ;
        opacity: 1;
    }
}

#cont{
    animation: travel 1s;
    animation-iteration-count: 1;
}
#img{
    animation: travel 1s;
    animation-iteration-count: 1;
}
.anim{
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}
